*.log
*.idea
*.iml
*.zip
*/*.iml
*/*.idea
*/target
*/.project
*/.classpath
*/.settings
*/bin
*/**/*.iml
*/**/*.idea
*/**/target
*/**/.project
*/**/.classpath
*/**/.settings
*/**/bin
/*.iml
/*.idea
/target
/.project
/.classpath
/.settings
*.bak
*.epoch
*.lck
*.mvn
*.mvn/*
*.mvnw/*
*.txt
*.mvnw