<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>time</contextName>
    <property resource="account.properties"/>
    <!-- 控制台 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] [%-5level] %logger{36}.%method - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--记录快递100请求报文以及返回结果-->
    <appender name="record" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
        </filter>
        <file>${logPath}/record.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logPath}/record.log.%d{yyyy-MM-dd}</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger level="info" addtivity="false" name="record">
        <appender-ref ref="record"/>
    </logger>

    <root level="error">
        <appender-ref ref="record" />
    </root>
</configuration>